body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('./assets/bg.jpg');
  color: white;
  -moz-background-size: cover;
       background-size: cover;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu {
  position: relative;
  background: black;
  width: 3em;
  height: 3em;
  -moz-border-radius: 5em;
       border-radius: 5em;
  margin: auto;
  /*margin-top: 5em;*/
  margin-bottom: 5em;
  cursor: pointer;
  /*border: 1em solid #fdaead;*/
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 0 1em #3175a752;
     -moz-box-shadow: 0 0 0 1em #3175a752;
          box-shadow: 0 0 0 1em #3175a752;
}

.menu:hover{
  -webkit-box-shadow: 0 0 0 1em #000000;
     -moz-box-shadow: 0 0 0 1em #000000;
          box-shadow: 0 0 0 1em #000000;
}

.menu:after {
  content: "";
  position: absolute;
  top: 1em;
  left: 1em;
  width: 1em;
  height: 0.2em;
  border-top: 0.6em double #fff;
  border-bottom: 0.2em solid #fff;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu li {
  width: 5em;
  height: 1.4em;
  padding: 0.2em 0.7em;
  margin-top: 0.2em;
  text-align: center;
  -moz-border-radius-topright: 0.5em;
       border-top-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
       border-bottom-right-radius: 0.5em;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  background-color: #0000003b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000c9), to(#1b1b1b80));
  background-image: -webkit-linear-gradient(top, #000000c9 0%, #1b1b1b80 100%);
  background-image: -moz-linear-gradient(top, #000000c9 0%, #1b1b1b80 100%);
  background-image: linear-gradient(to bottom, #000000c9 0%, #1b1b1b80 100%);
  opacity: 0;
  z-index: -1;
}
.menu:hover li {
  opacity: 1;
}
/**
 * Add a pseudo element to cover the space
 * between the links. This is so the menu
 * does not lose :hover focus and disappear
 */
.menu:hover ul::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  left: 50%;
  top: -5.0em;
  /**
   * The pseudo-element is a semi-circle
   * created with CSS. Top, bottom, and right
   * borders are 6.5em (left being 0), and then
   * a border-radius is added to the two corners
   * on the right.
   */
  border-width: 6.5em;
  -moz-border-radius: 0 7.5em 7.5em 0;
       border-radius: 0 7.5em 7.5em 0;
  border-left: 0;
  border-style: solid;
  /**
   * Have to have a border color for the border
   * to be hoverable. I'm using a very light one
   * so that it looks invisible.
   */
  border-color: rgba(0,0,0,0.01);
  /**
   * Put the psuedo-element behind the links
   * (So they can be clicked on)
   */
  z-index: -1;
  /**
   * Make the cursor default so it looks like
   * nothing is there
   */
  cursor: default;
}
.menu a {
  color: white;
  text-decoration: none;
  /**
   * This is to vertically center the text on the
   * little tab-like things that the text is on.
   */
  line-height: 1.5em;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu ul {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.8s all cubic-bezier(0.42, 0, 0.2, 1.42);
  -o-transition: 0.8s all cubic-bezier(0.42, 0, 0.2, 1.42);
  -moz-transition: 0.8s all cubic-bezier(0.42, 0, 0.2, 1.42);
  transition: 0.8s all cubic-bezier(0.42, 0, 0.2, 1.42);
}
.menu:hover ul {
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}
.menu li:hover {
  background-color: black;
  z-index: 10;
  -webkit-box-shadow: 0 0 5px #00000096;
     -moz-box-shadow: 0 0 5px #00000096;
          box-shadow: 0 0 5px #00000096;
}

.menu li:nth-of-type(1) {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -1.2em;
  top: -4.2em;
}
.menu li:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 2em;
  top: -3em;
}
.menu li:nth-of-type(3) {
  position: absolute;
  left: 3.4em;
  top: 0.3em;
}
.menu li:nth-of-type(4) {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 2em;
  top: 3.7em;
}
.menu li:nth-of-type(5) {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: -1.2em;
  top: 5em;
}
.hint {
  text-align: center;
}