.cndce-container.theme-1{
	background: url(assets/bg2.jpg);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	     background-size: cover;
}

.cndce-container.theme-1 .cndce-popup-overlay{
    background: #000000cf;
    color: white;
}

.cndce-container.theme-1 #cndce-controls-editables{
	background: rgba(0, 0, 0, 0.61);
}

.cndce-container.theme-1 #cndce-controls-editables .cndce-editable.active{
	background-color: #dadada;
}

.cndce-container.theme-1 .scroll-wrapper.cndce-controls{
	background: #000000d1;
	color: white;
}


.cndce-container.theme-1 option{
	color: black;
}