@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    overflow-y: scroll;
}

.cndce-container{
    font-family: 'Poppins', sans-serif;
    height: auto;
    min-height: 100%;
    background: none;
    overflow: hidden;
}

.cndce-container.loaded{
    overflow: visible;
}

.cndce-container canvas{
    height: 60vh !important;
    top: 0;
    position: fixed;

    background: linear-gradient(to top, #e8e8e8 0%, #fdfdfd 60%);
}



/* TOP CONTROLS */
.cndce-controls-top{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1010;
    display: flex;
    text-align: center;
    padding: 0.5rem 1rem;
}

.cndce-controls-top .cndce-control-top{
    padding: 0.5rem;
    cursor: pointer;
}

.cndce-controls-top .cndce-control-top--title{
    transition: all 0.2s ease-in-out;
}

.cndce-controls-top .cndce-control-top:hover .cndce-control-top--title{
    color: #63b20b;
}

.cndce-controls-top .cndce-control-top svg path,
.cndce-controls-top .cndce-control-top svg circle{
    transition: all 0.2s ease-in-out;
}

.cndce-controls-top .cndce-control-top:hover svg path,
.cndce-controls-top .cndce-control-top:hover svg circle{
    fill: #63b20b;
}

.cndce-controls-top .cndce-control-top:hover svg path.with-stroke{
    stroke: #63b20b;
}



/* CONTROLS PANEL */

.cndce-controls-panel{
    position: relative;
    top: 60vh;
    width: 100%;
    min-height: 40vh;
    background: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    z-index: 1000;
}

.cndce-controls-panel .cndce-controls-headers-wrapper{
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.cndce-controls-panel .cndce-controls-headers{
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.cndce-controls-panel .cndce-controls-headers .nav-link{
    color: inherit;
}

.cndce-controls-panel .cndce-controls-header{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



.cndce-controls-panel .cndce-controls-header svg{
    height: 1.5rem;
    width: auto;
}

.cndce-controls-panel .cndce-controls-header svg path{
    transition: all 0.1s ease-in-out;
}

.cndce-controls-panel .cndce-controls-header:hover svg path,
.cndce-controls-panel .nav-link.active svg path{
    fill: #63b20b;
}

.cndce-controls-panel .cndce-controls-header:hover svg path.with-stroke,
.cndce-controls-panel .nav-link.active svg path.with-stroke{

    stroke: #63b20b;
}

.cndce-controls-panel .cndce-controls-header--title{
    font-size: 0.9rem;
    margin-top: 0.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}


.cndce-controls-panel .cndce-controls-header:hover  .cndce-controls-header--title,
.cndce-controls-panel .nav-link.active  .cndce-controls-header--title{
    color: #63b20b;
}

.cndce-controls-panel .cndce-controls-content .tab-content{
    width: 700px;
    margin: 0 auto;
}


/* CONTROLS SUMMARY */
.cndce-controls-summary{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1020;
    /* background: white; */
    width: 22rem;
    margin: 1rem 0;
    max-height: calc(100vh - 2rem);
    overflow: hidden;
}

.cndce-controls-summary .accordion{
    max-height: inherit;
}

.cndce-controls-summary .accordion-item{
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.cndce-controls-summary .accordion-button{
    transition: all .15s ease-in-out;
    transform: unset !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    text-align: center;
    border-radius: 0 !important;
    text-transform: uppercase;
}

.cndce-controls-summary .accordion-button .accordion-header-text{
    flex-grow: 1;
}

.cndce-controls-summary .accordion-button:not(.collapsed){
    color: white;
    background-color: black;
}

.cndce-controls-summary .accordion-button::after{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.cndce-controls-summary .accordion-collapse{
    overflow-y: scroll;
    background: white;
}