@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    overflow-y: scroll;
}

.cndce-container{
    font-family: 'Poppins', sans-serif;
    height: auto;
    min-height: 100%;
    overflow: visible;
    background: none;
}

.cndce-container canvas{
    height: 60vh !important;
    top: 0;
    position: fixed;

    background: linear-gradient(to top, #e8e8e8 0%, #fdfdfd 60%);
}



/* TOP CONTROLS */
.cndce-top-controls{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1010;
    display: flex;
    text-align: center;
    padding: 0.5rem 1rem;
}

.cndce-top-controls .cndce-top-control{
    padding: 0.5rem;
    cursor: pointer;
}

.cndce-top-controls .cndce-top-control--title{
    transition: all 0.2s ease-in-out;
}

.cndce-top-controls .cndce-top-control:hover .cndce-top-control--title{
    color: #63b20b;
}

.cndce-top-controls .cndce-top-control svg path,
.cndce-top-controls .cndce-top-control svg circle{
    transition: all 0.2s ease-in-out;
}

.cndce-top-controls .cndce-top-control:hover svg path,
.cndce-top-controls .cndce-top-control:hover svg circle{
    fill: #63b20b;
}

.cndce-top-controls .cndce-top-control:hover svg path.with-stroke{
    stroke: #63b20b;
}



/* CONTROLS PANEL */

.cndce-controls-panel{
    position: relative;
    top: 60vh;
    width: 100%;
    min-height: 40vh;
    background: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    z-index: 1000;
}

.cndce-controls-panel .cndce-controls-headers-wrapper{
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.cndce-controls-panel .cndce-controls-headers{
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.cndce-controls-panel .cndce-controls-headers .nav-link{
    color: inherit;
}

.cndce-controls-panel .cndce-controls-header{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



.cndce-controls-panel .cndce-controls-header svg{
    height: 1.5rem;
    width: auto;
}

.cndce-controls-panel .cndce-controls-header svg path{
    transition: all 0.1s ease-in-out;
}

.cndce-controls-panel .cndce-controls-header:hover svg path,
.cndce-controls-panel .nav-link.active svg path{
    fill: #63b20b;
}

.cndce-controls-panel .cndce-controls-header:hover svg path.with-stroke,
.cndce-controls-panel .nav-link.active svg path.with-stroke{

    stroke: #63b20b;
}

.cndce-controls-panel .cndce-controls-header--title{
    font-size: 0.9rem;
    margin-top: 0.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}


.cndce-controls-panel .cndce-controls-header:hover  .cndce-controls-header--title,
.cndce-controls-panel .nav-link.active  .cndce-controls-header--title{
    color: #63b20b;
}

.cndce-controls-panel .cndce-controls-content .tab-content{
    width: 700px;
    margin: 0 auto;
}